@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #B9F5DF;
  background-image: url('texture.png');
  height: 100%;
  width: 100%;
  background-position: fixed;
  left: 0;
  top: 0;
}

/* id selectors */

#heading {
  font-size: 36px;
  color: #2A3159;
  position: absolute;
  width: 533px;
  height: 43px;
  left: 804px;
  top: 109px;
  font-weight: bold;
  line-height: 43px;
}

#calendar {
  background-image: url('calendarblank.svg');
  position: absolute;
  width: 560px;
  height: 571px;
  left: 122px;
  top: 68px;
}

#buttons1 {
  position: absolute;
  width: 195px;
  height: 160px;
  left: 973px;
  top: 241px;
  display: grid;
  grid-template-columns: 1fr;
}

#buttons2 {
  position: absolute;
  width: 195px;
  height: 240px;
  left: 973px;
  top: 491px;
  display: grid;
  grid-template-columns: 1fr;
}

#key {
  position: absolute;
  width: 675px;
  height: 60px;
  left: 71px;
  top: 698px;
  display: grid;
  grid-template-columns: 70px 525px 70px;
}

#bar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 60px;
  width: 525px;
}

#level1 {
  background-color: #FFE58C;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#level2 {
  background-color: #FFD84A;
}

#level3 {
  background-color: #FFA443;

}

#level4 {
  background-color: #FF7D4B;
}

#level5 {
  background-color: #F54A4C;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#backarrow {
  background-image: url('arrowleft.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 55px;
  height: 100px;
  left: 60px;
  top: 360px;
  cursor: pointer;
}

#nextarrow {
  background-image: url('arrowright.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 55px;
  height: 100px;
  left: 685px;
  top: 360px;
  cursor: pointer;
}

/* class selectors */

.monthname {
  position: absolute;
  width: 100%;
  height: 20px;
  margin: auto;
  text-align: center;
  top: 135px;
  font-size: 30px;
  color: #2A3159;

}

#squares {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  position: absolute;
  width: 440px;
  height: 312px;
  margin-left: 58px;
  margin-right: 58px;
  margin-top: 190px;
  margin-bottom: 60px;

}

.days {
  background-color: #FFA443;
  width: 57px;
  height: 57px;
  grid-column-start: auto;
  margin: auto;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0);
  font-size: 17px;
  text-align: center;
}

.days:hover {
  color: #2A3159;
}

.min, .max {
  text-align: center;
  margin: auto;
  font-weight: 500;
  font-size: 18px;
  color: #2A3159;
}

.clicked, .unclicked {
  width: 195px;
  height: 59px;
  box-shadow: 3px 4px 0px 1px #72C1B2;
  border-radius: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
}

.unclicked {
  background-color: #FFFFFF;
  color: #2A3159;
  cursor: pointer;
}

.clicked {
  background-color: #506987;
  color: #FFFFFF;
}

/*background-image: url('texture.png');
background-position: center;
background-repeat: repeat;
background-size: 4px;*/
