@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
background-color: #B9F5DF;
background-image: url("https://www.transparenttextures.com/theme/images/transparent.png");
font-family: 'Rubik', sans-serif;
}
