<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Hottestbirthdays</title>
    <meta name="description" content="How popular is your birthday?" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>

    <div id="container">

    <div id="calendar"> </div>

    <a id="backarrow"></a>

    <a id="nextarrow"></a>

    <div id="key"> </div>

    <h1 id="heading">How popular is your birthday?</h1>

    <div id="buttons1">  </div>

    <div id="buttons2"> </div>

    <script src="{{ url_for('static', filename='js.js') }}"></script>

  </body>

</html>
