<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Hottestbirthdays</title>
    <meta name="description" content="How popular is your birthday?" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>

    <div id="container">

    <a id="backarrow"></a>

    <div id="calendar">
      <h1 class="month">January</h1>
      <div class="squares">
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
        <div class="days"></div>
      </div>
    </div>

    <a id="nextarrow"></a>

    <div id="key">
      <div class="min">10000</div>
        <div id="bar">
          <div id="level1"></div>
          <div id="level2"></div>
          <div id="level3"></div>
          <div id="level4"></div>
          <div id="level5"></div>
        </div>
      <div class="max">15000</div>
    </div>

    <h1 id="heading">How popular is your birthday?</h1>

    <div id="buttons1">
      <a class="clicked">Month</a>
      <a class="unclicked">Year</a>
    </div>

    <div id="buttons2">
      <a class="clicked">New Zealand</a>
      <a class="unclicked">England</a>
      <a class="unclicked">USA</a>
    </div>

    <script src="{{ url_for('static', filename='js.js') }}"></script>

  </body>

</html>
