<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Hottestbirthdays</title>
    <meta name="description" content="How popular is your birthday?" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>

    <div id="container1">

      <div id="data">
        <a id="backarrow"></a>

        <div id="calendar">
          <div id="squares">

          </div>
        </div>

        <a id="nextarrow"></a>
      </div>

      <div id="key">
        <div class="min">80000</div>
          <div id="bar">
            <div id="level1"></div>
            <div id="level2"></div>
            <div id="level3"></div>
            <div id="level4"></div>
            <div id="level5"></div>
            <div id="level6"></div>
            <div id="level7"></div>
          </div>
        <div class="max">112000</div>
      </div>

    </div>

  <div id="container2">

    <h1 id="heading">How popular is your birthday?</h1>

    <div id="buttons1">
      <a class="clicked">Month</a>
      <a class="unclicked" href="{{ url_for('usyear') }}">Year</a>
    </div>

    <div id="buttons2">
      <a class="unclicked" href="{{ url_for('index') }}">New Zealand</a>
      <a class="unclicked" href="{{ url_for('ukresults') }}">England</a>
      <a class="clicked">USA</a>
    </div>

  </div>

    <script src="{{ url_for('static', filename='usjs.js') }}"></script>

  </body>

</html>
